{%extends 'base.html'%}
{% if error %}
<script >
        alert('{{ error }}');

</script>
{% endif %}
</head>
	{% block head %}
    	<title>Login Page</title>
    {% endblock %}
  <body>
  {%block body%}
  <div class="row " style="height:150px;"></div>
  <div class="row ">
                <div class=" col s6 offset-s3 ">
                  <div class="card center-align">
                    <div class="card-content">
                      <span class="card-title"><h3>Login</h3></span>
                        <form class="container " method="post" action="postsignin/">
                          <div class = "row">
                            {% csrf_token %}

                            <div class="input-field col s12">
					          <input id="email" type="email" class="validate" name="email">
					          <label for="email">Email</label>
        					</div>
                            <div class="input-field col s12">
					          <input id="password" type="password" class="validate" name="password">
					          <label for="password">Password</label>
        					</div>
                            <div class="input-field col m6">
                              <button class="btn waves-effect waves-light" type="submit" name="action">
                                Login<i class="material-icons right">send</i>
                              </button>
                            </div>
                          </div>
                        </form>


                    </div>

                  </div>
                </div>
              </div>



  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
{%endblock%}
