{% extends base.html %}
<!DOCTYPE html>
<html>
<head>
	<title>WELCOME</title>
</head>
<body>
	<button name='logout' type='logout' onclick="location.href='{% url 'logout' %}'">Logout</button>

</body>
</html>